[
{{#pages}}
  {
    "type": "{{pageType}}",
    "slug": "{{slug}}",
    "title": "{{title}}",
    "parentSlug": "{{parentSlug}}",
    "parentTitle": "{{parentTitle}}"
  }{{^isLast}},{{/isLast}}
{{/pages}}
]
