{{#confNotesTitle}}
<ac:structured-macro ac:name="include" ac:schema-version="1" data-layout="default">
  <ac:parameter ac:name="">
    <ac:link>
      <ri:page ri:content-title="{{confNotesTitle}}" ri:version-at-save="1" ri:space-key="{{modelConfig.spaceKey}}"/>
    </ac:link>
  </ac:parameter>
</ac:structured-macro>
{{/confNotesTitle}}
